.custom-button {
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: #000;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 10px;
  &:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }
  &.google-sign {
      
    background-color: rgb(43, 61, 95);
    color: #fff;
    &:hover {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      border: none;
    }
  }
}
